body {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  background-color: hsl(210, 46%, 95%);
  font-size: 13px;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  border-radius: 10px;
  max-width: 900px;
  text-align: left;
}

.card-footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.avatar {
  width: 50px;
  border-radius: 50%;
  margin-right: 1rem;
}

.image {
  overflow: hidden;
  width: 400px;
  border-radius: 10px 0 0 10px;
  height: 100%;
}

.image-container {
}

.summary-container {
  padding: 20px 30px;
}

h4 {
  font-size: 1.3rem;
  letter-spacing: 3px;
  line-height: 25px;
  color: hsl(217, 19%, 35%);
}

.description {
  letter-spacing: 1px;
  line-height: 25px;
  color: hsl(217, 19%, 35%);
}

.profile__text {
  font-weight: bold;
  color: hsl(217, 19%, 35%);
}

.profile__date {
  font-weight: lighter;
  color: #aaa;
}

.button {
  border-radius: 50%;
  background-color: hsl(210, 46%, 95%);
  padding: 0.6rem;
}

.share-container {
  position: relative;
}

.share-menu {
  position: absolute;
  top: -110px;
  left: -110px;
  display: flex;
  flex-direction: row;
  background-color: hsl(217, 19%, 35%);
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  letter-spacing: 3px;
}

.share-menu * {
  margin: 15px;
}

.share-menu__hidden {
  display: none;
}
